
button{
  color: #333;
}
.tracking-layout{
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
}
.tracking-layout textarea{
  height: 400px;
  max-height: 33vh;
}

.head{
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}